<div class="home">
<div class="text-center">

    <div class="vertical-space"></div>
    <h1><a href="https://github.com/elijah-farrell/DownGit">DownGit</a></h1>
    <div class="center-row"></div>
    <h4>Download GitHub Files & Folders</h4>


    <div class="vertical-space"></div>
    <div class="col-md-6 center-row">
        <div class="input-group">
            <input name="url" type="url" placeholder="Paste GitHub File or Directory Link" class="form-control" ng-model="url" ng-keypress="catchEnter($event)">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="clearUrl()" title="Clear URL">
                    ✕
                </button>
            </span>
        </div>
    </div>
    <div class="btn-group center-row">
        <button type="button" class="btn btn-primary" ng-click="download()">Download</button>
    </div>


    <div ng-show="isProcessing.val">
        <div class="vertical-space"></div>
        <img class="processing-img" src="res/images/processing.gif" />
        <p>Downloaded {{downloadedFiles.val}} of {{totalFiles.val}} files</p>
    </div>

    <!-- Shareable Link Section -->
    <div ng-show="shareableLink" class="col-md-8 center-row">
        <div class="vertical-space"></div>
        <div class="shareable-link-container">
            <h5>Shareable Download Link</h5>
            <p class="text-muted">Share this link with others or bookmark it for later use</p>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="shareableLink" readonly>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success" ng-click="copyToClipboard()" title="Copy to clipboard">
                        📋 Copy
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="vertical-space"></div>
    <div class="footer">
        <a href="https://github.com/elijah-farrell/DownGit" target="_blank">DownGit</a> by <a href="https://github.com/elijah-farrell" target="_blank">Elijah Farrell</a>
    </div>

</div>
</div>
